body, html {
    height: 100%;
    margin: 0;
}

.rectangle {
    width: 100vw;
    height: 100vh;
    background-color: #3498db;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
    overflow: hidden;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(3, 3, 3, 0.623);
    justify-content: flex-start; /* Align content at the top */
    padding-top: 5px; /* Add padding at the top */
}

.modal-content {
    background-color: #fefefe;
    margin: 15px auto; /* Adjust margin */
    padding: 20px;
    border: 1px solid #380000;
    width: 75%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    color: #070c19;
}

input {
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    font-size: 30px;
}

.modbtn {
    background-color: #070c19;
    color: rgb(255, 255, 255);
    padding: 15px 20px; /* Adjust padding to increase button size */
    margin-top: 5px;
    border-radius: 5px;
    width: 200px; /* Adjust width to increase button size */
    height: 75px !important; /* Add height to adjust button height */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 50px;
}

.modbtn:hover{
    background-color: #12399e;
}
/* Add a new class for spacing between buttons */
.button-container {
    align-items: center;    
    justify-content: center;
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
}


/* this is the keyboard css */

#keyboard-container {
    display: flex;
    justify-content: center;
    background-color: #8f8b8b00;
    border-radius: 8px;
    padding: 0px;
    width: 100%;
}

#keyboard, #numpad {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    overflow: visible;
}

.key, .numkey {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #610d0d;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.space-key {
    width: 150px; /* Adjust the width as needed */
}

#keyboard .row, #numpad .row {
    display: flex;
}

input[type="text"] {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
    width: 100%;
}
.keybtn{
    background-color: #7d8d6f; /* Default background color */
    color: #000000; /* Default text color */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.keybtn:hover{
    background-color: #7b86c3; /* Hover background color */
    color: #5a0404; /* Hover text color */
}

/* till here*/
