.printpage {
    font-family: Arial, sans-serif;
    width: 80mm !important;
}

h1 {
    color: #333;
    font-size: 18px;
    text-align: center;
}


#orderDetailsPrint {
    margin-top: 20px;
    text-align: left;
}


.printdetails {
    margin: 5px 0;
    font-size: 14px;
}

@media print {
    .printpage {
        font-family: Arial, sans-serif;
        width: 80mm !important;
    }

    h1 {
        font-size: 16px;
    }

    .printdetails {
        font-size: 24px;
    }
}