/* Define the style for the scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Set width of the scrollbar */
    height: 8px; /* Set height of the scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #010f55;
}

/* Handle on scrollbar drag */
::-webkit-scrollbar-thumb:active {
    background: #0b0c11;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
}

/* Add corner radius to the scrollbar */
::-webkit-scrollbar-corner {
    background: #33374b;
    border-radius: 10px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-transform: none;
}

.main-con {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;


}

.top-header {
    height: 5vh;
    background-color: #1e8729;
    border: 0.2px solid rgb(56, 56, 56);
    display: flex;
    justify-content: space-between;

}

.cartBtn{
    display: none;
}

.left-content {
    background-color: #070c19;
    border: 0.1px solid rgb(56, 56, 56);
    width: 100vw;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
}


.mainDiv{
    width: 100vw;
    overflow: auto;
    display: flex;
    background-color:#6a73a5;
    padding: 10p6x;
    display: flex;
    flex-direction: column;
}

.payInfo{
    width: 100%;
    height: 12vh;
    overflow: auto;
    background-color:#bfc4df;
}

.orderDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: x-large;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
}

.numPad{
    width: 100%;
    height: 60vh;
    overflow: auto;
    background-color:rgb(75, 99, 119);
}

.orderAmount{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
}

.totalAmount{
    font-size: 40px;
    font-weight: bold;
}

.enterAmount{
    width: 60%;
    font-size: 30px;

}

.divider{
    height: 3px;
    width: 100%;
    background-color:#000000;
}

.pad{
    background-color:#070c19;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    margin: 5px;
    width: 500px;
    height: 450px;
}

.row1{
    display: flex;
    margin: 15px;
    justify-content: space-between;
}

.number{
    justify-content: center;
    align-items: center;
    font-size: x-large;
    width: 50px;
    height: 50px;
    background-color:#1e8729
}

.payBtn{
    width: 100%;
    height: 22vh;
    overflow: auto;
    background-color:#a4acd8;
}

.bottom-con {
    display: flex;
    height: 100%;
}

.right-content {
    width: 25vw;
    background-color: #7b86c3;
    border: 0.1px solid rgb(56, 56, 56);
    overflow: auto;
    flex-wrap: wrap;

}

.right-info{
    margin-top: 5px;
}

@media only screen and (max-width: 800px) {
    
    .cartBtn{
        display: block;
    }

    .orderDetails{
        display: flex;
        flex-direction: column;
        justify-content: safe;
        font-size: 15px;
        font-weight: bold;
        margin-left: .15px;
        margin-right: 15px;
    }

    .orderAmount{
        display: flex;
        font-weight: bold;
        margin-left: 15px;
    }

    .pad{
        background-color:#070c19;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-evenly;
        width: 449px;
        height: 390px;
    }

    .right-content{
        display: none;
    }
  }
