/* Define the style for the scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Set width of the scrollbar */
    height: 8px; /* Set height of the scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #010f55;
}

/* Handle on scrollbar drag */
::-webkit-scrollbar-thumb:active {
    background: #0b0c11;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
}

/* Add corner radius to the scrollbar */
::-webkit-scrollbar-corner {
    background: #33374b;
    border-radius: 10px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.main-con {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;


}

.top-header {
    height: 5vh;
    background-color: #212a6f;
    border: 0.2px solid rgb(56, 56, 56);
    display: flex;
    justify-content: space-between;

}

.cartBtn{
    display: none;
}

.left-content {
    background-color: #070c19;
    border: 0.1px solid rgb(56, 56, 56);
    width: 100vw;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
}


.mainDiv{
    width: 100vw;
    overflow: auto;
    display: flex;
    background-color:#212a6f;
    padding: 10p6x;
    display: flex;
    flex-direction: column;
}

.payInfo{
    width: 100%;
    height: 12vh;
    overflow: auto;
}

.orderDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: x-large;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    color: #ffffff
}

.numPad{
    width: 100%;
    height: 60vh;
    overflow: auto;
    background-color:#000636;
}

.orderAmount{
    background-color:#212a6f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
}

.totalAmount{
    font-size: 40px;
    font-weight: bold;
    color: #ffffff
}

.discountAmount{
    font-size: 40px;
    font-weight: bold;
    color : #83759d;
}

.enterAmount{
    width: 60%;
    font-size: 30px;
    background-color:#9ea8f5;
    border: 1px solid #610d0d;
}

.enterAmount::placeholder{
    color: rgb(49, 49, 49);
}


.divider{
    height: 3px;
    width: 100%;
    background-color:#000000;
}

.btnpad{
    display: flex;
    flex-direction: row;
}

.pad{
    display: flex;
    margin: 5px;
    width: 678px;
    height: 481px;
    flex-direction: column;
    justify-content: space-evenly;
}

.row1{
    display: flex;
    margin: 15px;
    justify-content: space-between;
}

.row2{
    display: flex;
    margin: 15px;
    justify-content: space-between;
}

.disc{
    width: 60%;
    font-size: 30px;    
    background-color:#9ea8f5;
    border: 1px solid #610d0d;
}

.disc::placeholder{
    color: rgb(49, 49, 49);
}

.number{
    text-transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    width: 160px;
    height: 129px;
    background-color:#ffffff;
    border: 1px solid #610d0d;
    color: #000;
}

.number:active{
    background-color:#2bb665;    
}

.extraBtns{
    display: flex;
    margin: 5px;
    width: 678px;
    height: 481px;
    flex-direction: column;
    align-items: center;
}

.extraBtn{
    text-transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    width: 260px;
    height: 88px;
    background-color:#ffffff;
    border: 1px solid #610d0d;
    color: #000;
}

.extraBtn:hover{
    background-color:#8e38c0;
}
.extraDiv{
    display: flex;
    margin: 5px;
    width: 290px;
    height: 481px;
    flex-direction: column;
    align-items: center;
}

.payBtnDiv{
    width: 100%;
    height: 22vh;
    overflow: auto;
}

.payBtns{
    background-color:#212a6f;
    display: flex;
    height: 202px;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.payBtn{
    text-transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    width: 260px;
    height: 129px;
    background-color:#ffffff;
    border: 2px solid #610d0d;
    color: #000;
}

.payBtn:hover{
    background-color:#8e38c0;
}

.bottom-con {
    display: flex;
    height: 100%;
}

.right-content {
    width: 25vw;
    background-color: #7b86c3;
    border: 0.1px solid rgb(56, 56, 56);
    overflow: auto;
    flex-wrap: wrap;

}

.right-info{
    margin-top: 5px;
}

@media only screen and (max-width: 800px) {
    
    .cartBtn{
        display: block;
    }

    .orderDetails{
        display: flex;
        flex-direction: column;
        justify-content: safe;
        font-size: 15px;
        font-weight: bold;
        margin-left: .15px;
        margin-right: 15px;
    }

    .orderAmount{
        display: flex;
        font-weight: bold;
        margin-left: 15px;
    }

        
    .totalAmount{
        font-size: 30px;
        font-weight: bold;
    }

    .discountAmount{
        font-size: 30px;
        font-weight: bold;
    }

    .numPad{
        width: 100%;
        height: 61vh;
        overflow: auto;
    }

    .btnpad{
        display: flex;

    }

    .pad{
        display: flex;
        margin: 5px;
        width: 450px;
        height: 445px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .row1{
        display: flex;
        margin: 15px;
        justify-content: space-between;
    }

    .number{
        display: flex;
        justify-content: center;
        font-size: x-large;
        width: 100px;
        height: 100px;
        background-color: #ffffff;
        flex-wrap: wrap;
        text-transform: none;    
    }

    .extraBtns{
        display: flex;
        margin: 5px;
        width: 297px;
        height: 445px;
        flex-direction: column;
        justify-content: space-evenly;;
    }

    .extraBtn{
        display: flex;
        justify-content: center;
        font-size: large;
        width: 85px;
        height: 100px;
        flex-wrap: wrap;
        text-transform: none;
        background-color:#ffffff
    }

    .extraDiv{
        display: none;
    }
   
    .payBtns{
        display: flex;
        height: 200px;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .payBtn{
        text-transform: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        width: 100px;
        height: 100px;
        background-color:#ffffff
    }

    .right-content{
        display: none;
    }
  }

  @media only screen and (max-width: 430px) {
    
    .cartBtn{
        display: block;
    }

    .orderDetails{
        display: flex;
        flex-direction: column;
        justify-content: safe;
        font-size: 15px;
        font-weight: bold;
        margin-left: .15px;
        margin-right: 15px;
    }

    .orderAmount{
        display: flex;
        font-weight: bold;
        margin-left: 15px;
    }

        
    .totalAmount{
        font-size: 20px;
        font-weight: bold;
        margin-top: 15px;
    }

    .discountAmount{
        font-size: 20px;
        font-weight: bold;
        margin-top: 15px;
    }

    .disc{        
        width: 100%;
        font-size: 24px;
        margin-top: 2px; 
    }

    .numPad{
        width: 100%;
        height: 61vh;
        overflow: auto;
    }

    .btnpad{
        display: flex;

    }

    .pad{
        display: flex;
        margin: 5px;
        width: 650px;
        height: 506px;
        flex-direction: column;
        justify-content: center;
    }

    .row1{
        display: flex;
        margin: 15px;
        justify-content: space-between;
    }

    .row2{
        display: flex;
        margin: 6px;
        flex-direction: column;
        align-items: stretch;
    }

    .number{
        display: flex;
        justify-content: center;
        font-size: x-large;
        width: 100px;
        height: 60px;
        background-color: #ffffff;
        flex-wrap: wrap;
        text-transform: none;    
    }

    .extraBtns{
        display: flex;
        margin: 5px;
        width: 297px;
        height: 506px;
        flex-direction: column;
        align-items: baseline;
    }

    .extraBtn{
        display: flex;
        justify-content: center;
        font-size: large;
        line-height: normal;
        width: 144px;
        height: 55px;
        flex-wrap: wrap;
        text-transform: none;
        background-color:#ffffff
    }

    .extraDiv{
        display: none;
    }
   
    .payBtns{
        display: flex;
        height: 200px;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .payBtn{
        text-transform: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        width: 100px;
        height: 100px;
        background-color:#ffffff;
        border: 2px solid #610d0d;
    }

    .right-content{
        display: none;
    }
  }