
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* Define the style for the scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Set width of the scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #010f55;
}

/* Handle on scrollbar drag */
::-webkit-scrollbar-thumb:active {
    background: #0b0c11;
}

/* Track */
::-webkit-scrollbar-track {
    background: #5a649c;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #090a13;
    border-radius: 10px;
}

/* Add corner radius to the scrollbar */
::-webkit-scrollbar-corner {
    background: #0b0c11;
    border-radius: 10px;
}

.main-con {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;


}

.top-header {
    height: 50px;
    background-color: #1e8729;
    border: 0.2px solid rgb(56, 56, 56);

}

.item-box {
    height: 110px;
    width: 240px;
    background-color: lightblue;
}

.left-content {
    background-color: #070c19;
    border: 0.1px solid rgb(56, 56, 56);
    width: 80vw;
    overflow: auto;
    gap: 4.5rem;
    display: flex;
    flex-wrap: wrap;

}

.btn-position {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Adjust the spacing between buttons as needed */
    margin-top: 20px; /* Adjust the top margin as needed */
}

.btn-position .mdl-button {
    width: 9.375rem;
    height: 9.375rem;
}

.bottom-con {
    display: flex;
    height: 100%;
}



.right-content {
    width: 20vw;
    background-color: #7b86c3;
    border: 0.1px solid rgb(56, 56, 56);
    overflow: auto;
    flex-wrap: wrap;

}

.right-top, .tab-div{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.void-button {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline from text */
    font-size: 19px; /* Font size of text */
    cursor: pointer; /* Add cursor pointer on hover */
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}


/* Hover effect for buttons */
.void-button:hover {
    background-color: #45a049; /* Darker green on hover */
}


/* Hover effect for buttons */
.act-button:active {
    background-color: #070c19; /* Darker green on hover */
}

.right-info{
    margin: 5px;
    height: 5vh;
}

.right-tag, .total-tag{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    background-color: #313864;
    border: 0.1px solid #070c19;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    border: none;
    text-align: flex;   
}

.name-text,.total-text{
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin-right: 15px;
    margin-left: 15px;
}

.i-t{
    width: 200px;
}

.item-div{
    height: 70vh;
    background-color: #5a649c;
    margin: 0px;
    overflow-y: visible;
}


.item-add {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    background-color: #95a4f7;
    border: 0.1px solid #070c19;
    width: 100%;
    height: 55px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    text-align: flex;
}


.order-text{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #070c19;
}



.i-text{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #070c19;
    margin-right: 15px;
}

.i-txt{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #070c19;
    overflow: wrap;
    text-align: left;
}

.right-bottom-buttons {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 10vh;
    background-color:#3b5fbb;
    border: 0.1px solid #2b4586;

}


/* Custom styles for buttons */
.act-button {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 15px 30px; /* Padding for button size */
    margin: 10px; /* Margin between buttons */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline from text */
    display: inline-block;
    font-size: 16px; /* Font size of text */
    cursor: pointer; /* Add cursor pointer on hover */
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
    height: 4rem;
}

/* Hover effect for buttons */
.act-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.custom-button {
    background-color: #8a9dad; /* Default background color */
    color: #fff; /* Default text color */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

/* Change color on hover */
.custom-button:hover {
    background-color: #7F167F; /* Change this to the desired hover color */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(3, 3, 3, 0.623);
    justify-content: flex-start; /* Align content at the top */
    padding-top: 5px; /* Add padding at the top */
}

.modal-content {
    background-color: #fefefe;
    margin: 15px auto; /* Adjust margin */
    padding: 20px;
    border: 1px solid #380000;
    width: 55%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.tab-order-list{
    margin-top: 10px;
    height: 450px;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color:#070c19;
    border-radius: 0.1%;
    font-size: 10px;
}

.tab-existing-order-list{
    margin: 10px;
    box-sizing: border-box; /* Adjust width and margin as needed */
    background-color:#aaa;
    height: 250px;
    width: 190px;
}



.tab-new-order{
    order: -1; /* Move this div to the beginning */
    margin: 10px; /* Push it to the right */
    background-color:rgb(224, 125, 125);
    height: 250px;
    width: 190px;
}

.tab-new-order-btn{
    height: 250px;
    width: 190px;
    font-size: 30px;
    font-weight: bold;
    color: #faf5f5;
}

.close {
    color: #000000;
    float: right;
    font-size: 38px;
    font-weight: bold;
    text-decoration: underline;
}

.close:hover,
.close:focus {
    color: rgb(66, 3, 3);
    text-decoration: underline;
    cursor: pointer;
}

label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    color: #070c19;
}

input {
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    font-size: 30px;
}

.modbtn {
    background-color: #070c19;
    color: rgb(255, 255, 255);
    padding: 15px 20px; /* Adjust padding to increase button size */
    margin-top: 5px;
    border-radius: 5px;
    width: 200px; /* Adjust width to increase button size */
    height: 75px !important; /* Add height to adjust button height */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 50px;
}

.modbtn:hover{
    background-color: #12399e;
}
/* Add a new class for spacing between buttons */
.button-container {
    align-items: center;    
    justify-content: center;
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
}

.tab-existing-order-list-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 190px;
    padding: 10px;
    margin: 25px;
    background-color: #d35151;  /* Set the background color */
    color: #fff;  /* Set the text color */
    border: none;
    cursor: pointer;  /* Set the font size */
}

.tab-existing-order-list-btn:hover {
    background-color: #384694;  /* Set the hover background color */
}

.tab-existing-order-list-btn:active{
    background-color: #d35151;  /* Set the active background color */
}

.tab-existing-order-list-btn h1 {
    font-size: 24px; /* Set the font size for h1 */
    margin: 0px;
    color: #000;      
}

.tab-existing-order-list-btn h2 {
    font-size: 18px; /* Set the font size for h2 */
    margin: 0px;
    color: #000;  
}

.tab-existing-order-list-btn h3 {
    font-size: 14px; /* Set the font size for h3 */
    margin: 0px;
    color: #000;  
}

/* this is the keyboard css */

#keyboard-container {
    display: flex;
    justify-content: center;
    background-color: #8f8b8b00;
    border-radius: 8px;
    padding: 0px;
    width: 100%;
}

#keyboard, #numpad {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    overflow: visible;
}

.key, .numkey {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #610d0d;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
}


.space-key {
    width: 150px; /* Adjust the width as needed */
}

#keyboard .row, #numpad .row {
    display: flex;
}

input[type="text"] {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
    width: 100%;
}
.keybtn{
    background-color: #7d8d6f; /* Default background color */
    color: #000000; /* Default text color */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.keybtn:hover{
    background-color: #7b86c3; /* Hover background color */
    color: #5a0404; /* Hover text color */
}

/* till here*/